@import '../../../../styles/variables';

.taskContainer {
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 15px;
  border: 1px solid $border;
  box-shadow: $default-box-shadow;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .taskCategories {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  &.isDragging {
    background-color: $white;
  }

  .taskTitle {
    font-size: $font-normal;
    font-weight: $font-weight-bold;
    line-height: 150%;
    overflow-wrap: break-word;
  }

  .footerContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    .daysDue {
      color: $textSecondary;
      text-transform: uppercase;
      font-size: $font-smaller;
      font-weight: $font-weight-bold;
      letter-spacing: -0.24px;

      &.overdue {
        color: $error;
      }
    }
  }
}
