@import '../../styles/variables';

.container {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 0 10px 0 15px;
  top: 40px;
  right: 60px;
  height: 60px;
  border-radius: 30px;
  background: $white;
  box-shadow: $default-box-shadow;

  .containerButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;

    &:hover {
      > svg > path {
        fill: $textPrimary;
      }
    }
  }
}
