@import '../../styles/variables';

.boardContainer {
  display: flex;
  width: calc(100vw - 380px);
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  .boardSkeleton {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;

    .titleSkeleton {
      display: flex;
      margin-top: 15px;
      width: 500px;
      height: 50px;
      background-color: $background;
    }

    .columnsSkeleton {
      display: flex;
      border-radius: 20px;
      margin-top: 30px;
      gap: 20px;
      height: 100%;

      .columnSkeleton {
        display: flex;
        width: 320px;
        height: 100%;
      }
    }
  }

  .empty {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .boardData {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .weekTitle {
    display: flex;
    gap: 30px;

    .weekDates {
      color: $textSecondary;
      font-weight: $font-weight-normal;
    }
  }
}
