@import '../../styles/variables';

.boardContainer {
  display: flex;
  width: calc(100vw - 380px);
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  .empty {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .boardData {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .weekTitle {
    display: flex;
    gap: 30px;

    .weekDates {
      color: $textSecondary;
      font-weight: $font-weight-normal;
    }
  }
}
