@import '../../styles/variables';

.boardContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .weekTitle {
    display: flex;
    gap: 30px;

    .weekDates {
      color: $textSecondary;
      font-weight: $font-weight-normal;
    }
  }
}
