@import '../../../styles/variables';

.input {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px;

  .label {
    color: $textPrimary;
    margin-left: 5px;
    font-weight: $font-weight-semi-bold;
  }
}
