// Colors
$primary: #4318ff;
$textPrimary: #2b3674;
$disabledBackground: #b1aeff;
$textSecondary: #8f9bba;
$border: #e0e5f2;
$white: #fff;
$error: #dc2626;

// Font weights
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;

// Font sizes
$font-smallest: 10px;
$font-smaller: 12px;
$font-small: 14px;
$font-normal: 16px;
$font-medium: 18px;
$font-large: 24px;
$font-larger: 32px;
$font-largest: 48px;
$font-huge: 56px;
$font-hugest: 72px;

// Border radius
$border-radius-normal: 16px;

// Box shadows
$default-box-shadow: 0 2px 23.2px 0 rgba(0, 0, 0, 0.15);
