// Colors
$primary: #4318ff;
$textPrimary: #2b3674;
$primaryYellow: #ffb547;
$primaryOrange: #fc6333;
$error: #dc2626;
$disabledBackground: #b1aeff;
$textSecondary: #8f9bba;
$textSecondaryLight: #a3aed0;
$primaryGrey: #e9edf7;
$lightGrey: #f8fafc;
$border: #e0e5f2;
$background: #f4f7fe;
$white: #fff;

// Font weights
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;

// Font sizes
$font-smallest: 10px;
$font-smaller: 12px;
$font-small: 14px;
$font-normal: 16px;
$font-medium: 18px;
$font-large: 24px;
$font-larger: 32px;
$font-largest: 48px;
$font-huge: 56px;
$font-hugest: 72px;

// Border radius
$border-radius-small: 10px;
$border-radius-normal: 16px;

// Box shadows
$default-box-shadow: 0 2px 23.2px 0 rgba(0, 0, 0, 0.15);
$soft-box-shadow: 0 18px 40px 0 rgba(112, 144, 176, 0.12);
$light-box-shadow: 0 1px 15px 0 rgba(112, 144, 176, 0.12);
