@import '../../styles/variables';

.pageContent {
  width: calc(100vw - 380px);
  height: 100%;
  display: flex;
  flex-direction: column;

  .settingsContainer {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
  }
}
