@import '../../../../../../styles/variables';

.categoryContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: $border-radius-normal;
  gap: 5px;
  box-shadow: $soft-box-shadow;

  .categoryText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    .categoryTitle {
      display: flex;
      align-items: center;
      gap: 5px;
      line-height: 100%;
      font-size: $font-normal;
      color: $textPrimary;
      font-weight: $font-weight-bold;

      .colorBox {
        height: 14px;
        width: 14px;
        border-radius: 3px;
      }
    }

    .categoryDescription {
      font-size: $font-small;
      color: $textSecondary;
      font-weight: $font-weight-normal;
    }
  }
}

.moreIcon {
  cursor: pointer;
}
