@import '../../styles/variables.scss';

.header {
  display: flex;
  align-items: center;
  gap: 20px;

  .titleWrapper {
    display: flex;
    overflow-wrap: anywhere;
    align-items: center;
    gap: 20px;
  }

  .editIcon {
    height: 32px;
    width: 32px;
    cursor: pointer;
  }
}

.modalContentEditable {
  display: flex;
  margin-top: 20px;
  gap: 35px;

  &.isPreview {
    flex-direction: column;
    margin-top: 0;
    gap: 15px;
  }

  .titleSkeleton {
    display: flex;
    width: 500px;
    height: 50px;
  }

  .skeleton {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    margin-top: 10px;
    gap: 20px;

    .additionalDataSkeleton {
      display: flex;
      width: 200px;
    }

    .descriptionSkeleton {
      display: flex;
      width: 450px;
      height: 100%;
    }
  }

  .textData {
    display: flex;
    gap: 15px;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .description {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .descriptionLabel {
        color: $textPrimary;
        font-weight: $font-weight-semi-bold;
      }

      .descriptionText {
        &.isPlaceholder {
          color: $textSecondary;
        }
      }
    }

    &.isPreview {
      width: 100%;
      align-items: flex-start;
    }
  }

  .additionalData {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &.isPreview {
      flex-direction: row;
      gap: 30px;
    }

    .selectContainer {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .selectLabel {
        color: $textSecondary;
        font-size: $font-small;
        font-style: normal;
        font-weight: $font-weight-semi-bold;
        line-height: 20px;
        margin-left: 5px;

        &.isPreview {
          margin-left: 0;
        }
      }
    }
  }

  .footer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 5px;
    align-items: center;

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
}
