@import '../../../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .label {
    font-size: $font-small;
    margin-left: 5px;
    font-weight: $font-weight-semi-bold;
  }
}
