@import '../../../styles/variables.scss';

.priority {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 2px 12px;
  width: fit-content;
  border-radius: 10px;
  font-size: $font-smallest;
  font-weight: $font-weight-bold;
  line-height: 150%;
  height: fit-content;

  &.isLarge {
    font-size: $font-small;
    border-radius: 20px;
  }

  &.isHigh {
    background: $primaryOrange;
    color: $white;
  }

  &.isMedium {
    background: $primaryYellow;
    color: $white;
  }

  &.isLow {
    background: $primaryGrey;
    color: $textSecondary;
  }
}
