@import '../../styles/variables';

.background {
  display: flex;
  flex-direction: column;
  background: $white;
  height: 100vh;
  flex: 0 0 auto;
  width: 300px;
  padding: 0 0 40px 0;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .logoContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 20vh;
    }

    .hr {
      margin: 5px 0;
      height: 1px;
      width: 100%;
      background: $border;
      border: none;
    }

    .navigationItems {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-top: 30px;
    }
  }

  .pomodoro {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }
}
