@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import '../../styles/variables.scss';

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 40px 20px;
  box-sizing: border-box;
  background-color: #cc99ff;
  background-image: radial-gradient(at 10% 88%, hsla(213, 70%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 87% 95%, hsla(223, 87%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 62%, hsla(356, 64%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 98% 92%, hsla(131, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 72% 96%, hsla(285, 85%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 47% 88%, hsla(194, 86%, 72%, 1) 0px, transparent 50%);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  gap: 5vw;

  .textDescription {
    display: flex;
    flex: 1;
    gap: 20px;
    margin-top: -50px;
    flex-direction: column;
    color: white;

    .title {
      font-family: 'Poppins', sans-serif;
      text-transform: uppercase;
      color: $white;
    }

    .line {
      font-weight: $font-weight-normal;
      color: $white;
    }
  }

  .form {
    display: flex;
    justify-content: center;
    flex: 1;

    .formContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 450px;
      gap: 20px;
      border-radius: 20px;
      background: $white;
      box-shadow: $default-box-shadow;
      padding: 50px 50px 40px;
      height: fit-content;

      .textContent {
        margin-bottom: 30px;

        .description {
          margin-top: 10px;
          font-size: $font-small;
          color: $textSecondary;
        }
      }

      .textInputContainers {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .additionalSettings {
          display: flex;
          font-size: $font-smaller;
          width: 100%;
          justify-content: space-between;
          margin-bottom: 15px;

          > label {
            font-size: $font-smaller;
          }
        }
      }

      .linkToRegister {
        display: flex;
        font-size: $font-smaller;
        gap: 3px;
      }
    }
  }
}
