@import '../styles/variables.scss';

.background {
  display: flex;
  background: $background;
  height: 100vh;
  width: 100%;

  .outlet {
    display: flex;
    margin: 20px;
    padding: 20px;
    flex-grow: 1;
  }
}
